.ant-select-selection--multiple .ant-select-selection__rendered {
  overflow: hidden;
}
.ant-select-selection--multiple .ant-select-selection__rendered ul {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  float: left;
}
.ant-select-selection--multiple .ant-select-selection__choice {
  float: none;
  overflow: visible;
}
.ant-select-selection--multiple .ant-select-search--inline {
  float: none;
  position: absolute;
}
.ant-select-selection--multiple {
  max-height: 32px;
  overflow: hidden;
}
